<header class="py-3">
    <nav class="flex items-center justify-center gap-5 max-sm:text-sm">
        <a href="#about">О себе</a>
        <a href="#portfolio">Портфолио</a>

        <h1 class="text-xl text-primary font-semibold cursor-pointer underline">
            nikg.
        </h1>

        <a href="#motivation">Мотивация</a>
        <a href="#contacts">Контакты</a>
    </nav>
</header>
