---
import { getCollection } from "astro:content";
import PortfolioItem from "../PortfolioItem.astro";

const portfolio = await getCollection("portfolio");
---

<section id="portfolio" class="my-8 p-default">
    <h1 class="section-title">Портфолио</h1>
    <div
        class="sm:flex sm:flex-wrap max-sm:grid max-sm:grid-cols-2 justify-center gap-8"
    >
        {portfolio.map((it) => <PortfolioItem item={it} />)}
    </div>
</section>
