---
import background from "../../assets/background.svg";
import nikg from "../../assets/nikg.png";

import TypingAnimation from "../TypingAnimation.svelte";
---

<section>
    <img
        src={background.src}
        alt="background"
        fetchpriority="high"
        class="fixed top-0 left-0 -z-10 w-full h-full blur-3xl"
    />

    <!-- Me -->
    <div class="flex mt-10 mb-18 flex-col items-center relative">
        <!-- Image -->
        <img src={nikg.src} alt="me" width={400} id="me" />

        <h1
            class="bg-primary text-9xl max-sm:text-4xl text-center p-5 mt-8 absolute -bottom-10 uppercase font-extrabold"
        >
            <TypingAnimation client:load text="Гуртовой Никита" speed={150} />
        </h1>
    </div>

    <!-- Quote -->
    <div class="max-w-3xl py-4 px-8 mx-auto text-center">
        <blockquote>
            В жизни всё временно. <br /> Если всё идёт хорошо — наслаждайся, это
            не будет длиться вечно. <br /> Ну а если всё паршиво — не кисни, это
            тоже не навсегда.
        </blockquote>
        <p class="text-gray-500">Ф. М. Достоевский</p>
    </div>
</section>

<style scoped>
    blockquote::before {
        content: "\201C";
    }

    blockquote::after {
        content: "\201D";
    }

    #me {
        animation: fade 5s ease 1 forwards;
    }
</style>
