---
import WelcomeSection from "../components/sections/WelcomeSection.astro";
import Layout from "../layouts/Layout.astro";

import Header from "../components/shared/Header.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import PortfolioSection from "../components/sections/PortfolioSection.astro";
import MotivationSection from "../components/sections/MotivationSection.astro";
import ContactsSection from "../components/sections/ContactsSection.astro";
---

<Layout>
	<Header />

	<WelcomeSection />
	<AboutSection />
	<PortfolioSection />
	<MotivationSection />
	<ContactsSection />

	<footer class="bg-white w-full py-3 text-center">
		<h1>Создан Гуртовым Н.В., 2025 год</h1>
		<a href="https://github.com/lifernod/nikg">Исходный код</a>
	</footer>
</Layout>
